<div class="novoMenu">
  <div class="container">
    <!--começo navegação -->
    <div class="navbar">
      <div class="logo">
        <a href="./index.html">
          <img
            src="assets/img/logoEscura.png"
            alt="maiftloja"
            width="125px"
          />
        </a>
      </div>

      <nav>
        <ul id="MenuItens">
          <li><a href="index.html">Inicio</a></li>
          <li><a href="produtos.html">Produtos</a></li>
          <li><a href="empresa.html">Empresa</a></li>
          <li><a href="contato.html">Contatos</a></li>
        </ul>
      </nav>
      <a href="" title="">
        <img
          src="assets/img/carrinho2.png"
          alt=""
          width="30px"
          height="30px"
        />
      </a>

      <img
        src="assets/img/menu.png"
        alt=""
        class="menuCelular"
        onclick="menuCelular()"
      />
    </div>
  </div>
</div>
<!-- INICIO CARRINHO DE COMPRAS -->
<div class="corpo-categorias carrinho-compras">
  <!-- INICIO TABELA -->
  <table>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Valor</th>
    </tr>

    <!-- INICIO ITEM DO CARRINHO -->
    <tr>
      <td>
        <div class="info-carrinho">
          <img src="assets/img/carrinho-1.jpg" alt="" />
          <div>
            <p>Nome produto</p>
            <small>R$ 777</small>
            <a href="" title="">Remover</a>
            <br />
          </div>
        </div>
      </td>
      <td>
        <form action="" method="post">
          <input type="number" value="1" />
        </form>
      </td>
      <td>R$ 777</td>
    </tr>
    <!-- FIM ITEM DO CARRINHO -->

    <!-- INICIO ITEM DO CARRINHO -->
    <tr>
      <td>
        <div class="info-carrinho">
          <img src="assets/img/carrinho-2.jpg" alt="" />
          <div>
            <p>Nome produto</p>
            <small>R$ 777</small>
            <a href="" title="">Remover</a>
            <br />
          </div>
        </div>
      </td>
      <td>
        <form action="" method="post">
          <input type="number" value="1" />
        </form>
      </td>
      <td>R$ 777</td>
    </tr>
    <!-- FIM ITEM DO CARRINHO -->

    <!-- INICIO ITEM DO CARRINHO -->
    <tr>
      <td>
        <div class="info-carrinho">
          <img src="assets/img/carrinho-3.jpg" alt="" />
          <div>
            <p>Nome produto</p>
            <small>R$ 777</small>
            <a href="" title="">Remover</a>
            <br />
          </div>
        </div>
      </td>
      <td>
        <form action="" method="post">
          <input type="number" value="1" />
        </form>
      </td>
      <td>R$ 777</td>
    </tr>
    <!-- FIM ITEM DO CARRINHO -->
  </table>
  <!-- FIM TABELA -->
  <!-- INICIO VALOR TOTAL -->
  <div class="valor-total">
    <table>
      <tr>
        <td>Sub-Total</td>
        <td>R$ 700</td>
      </tr>
      <tr>
        <td>Frete</td>
        <td>R$ 77</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>R$ 777</td>
      </tr>
    </table>
  </div>
</div>
<!-- FIM CARRINHO DE COMPRAS -->
<!-- Inicio rodape -->
<footer>
  <div class="rodape">
    <div class="container">
      <div class="linha">
        <div class="rodape-col-1">
          <h3>Baixe o app</h3>
          <p id="paragrafo">Baixe nas melhores plataformas</p>
          <div class="app-logo">
            <img src="assets/img/google.png" alt="" />
            <img src="assets/img/apple.png" alt="" />
          </div>
        </div>
        <div class="rodape-col-2">
          <img src="assets/img/logo-2.png" alt="" />
          <p id="paragrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
            nulla.
          </p>
        </div>

        <div class="rodape-col-3">
          <h3>Mais Informações</h3>
          <ul>
            <li>Cupons</li>
            <li>Blog</li>
            <li>Politica de Privacidade</li>
            <li>Contatos</li>
          </ul>
        </div>

        <div class="rodape-col-4">
          <h3>Redes Sociais</h3>
          <ul>
            <li>Instagram</li>
            <li>Facebook</li>
          </ul>
        </div>
      </div>
      <hr />
      <p class="direitos">&#169; Todos os direitos reservados</p>
    </div>
  </div>
</footer>
